<h1>{{ title }}</h1>
<nav>
  <a
    routerLink="/dashboard"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Dashboard</a
  >
  <a
    routerLink="/crisis-center"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Crisis Center</a
  >
  <a routerLink="/heroes" routerLinkActive="active" ariaCurrentWhenActive="page"
    >Heroes</a
  >
  <a routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page"
    >Admin</a
  >
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
</nav>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
<app-messages></app-messages>
