<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div>id: {{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input
      id="hero-name"
      type="text"
      [(ngModel)]="hero.name"
      placeholder="name"
    />
    <button
      [disabled]="hero.name.trim() === ''"
      type="button"
      (click)="hero.name.trim() && update(hero)"
    >
      Update
    </button>
  </div>
  <button type="button" (click)="goToHeroes(hero)">Go to Heroes</button>
</div>
